<style>
    .loading {
        background: url("../images/loading.gif") no-repeat center;
        width: 128px;
        height: 128px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -64px;
        margin-top: -64px;
        z-index: 99999
    }

    .mask {
        background: #000;
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        *-khtml-opacity: 0.5;
        z-index: 99998
    }
</style>

<script src="${rc.contextPath}/resources/js/jquery-1.11.2.min.js?v=$!staticVersion"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<div class="container">
    <div class="tip"
         style="position:fixed;height:100px;width:300px;top:50%;left:50%;margin-top:-50px;margin-left:-150px;text-align:center;">
        <img style="height:50px;width:50px"></img>
        <label style="margin-top:20px;width:300px;"></label>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        #if($!resp.code == "0")
            $('img', $('.tip')).attr('src', '${rc.contextPath}/resources/images/hackthon/success_icon.png');
            $('label', $('.tip')).text("$!{resp.message}");
        #else
            $('img', $('.tip')).attr('src', '${rc.contextPath}/resources/images/hackthon/error_icon.png');
            $('label', $('.tip')).text("$!{resp.message}");
        #end
    });
</script>

