<style>
    body {
        background: #e9e9e9;
    }
</style>
<div class="title-bar">
    <img src="${rc.contextPath}/resources/images/arrow-left.png"
         onclick="javascript:window.location.href='${rc.contextPath}/index';"></img>

    <p>圈子</p>
</div>
<div class="book-user">
    <ul>
        <li><a href="javascript:tabClick(0);" class="active-a" id="workmateReviewA">同事动态</a></li>
        <li><a href="javascript:tabClick(1);" id="myReviewA">我的动态</a></li>
    </ul>
</div>
<div class="swiper-container book-review-swiper">
    <div class="swiper-wrapper">
        <!--同事评论信息-->
        <div class="swiper-slide workmate-review-list swiper-no-swiping" id="workmateReviewList">
            #if($!{momentsInfoList.size()}>0)
                <div style="position:relative;z-index:2;height:100%;" id="workmateScroll">
                    <ul>
                        #foreach($momentsInfo in $!momentsInfoList)
                            <li class="reviewItem${momentsInfo.momentsId} review-item-li">
                                <div class="review-list-item">
                                    <div class="review-title">
                                        #if($!momentsInfo.userIcon)
                                            <img class="review-header" src="$!momentsInfo.userIcon"></img>
                                        #else
                                            <img class="review-header"
                                                 src="${rc.contextPath}/resources/images/hackthon/user_header_icon.png"></img>
                                        #end
                                        <p class="review-name">$!{momentsInfo.userName}</p>

                                        <p class="review-date">$!{momentsInfo.crtTs}</p>
                                    </div>
                                    <div class="review-body">
                                        #if($!momentsInfo.bookName)
                                            <p class="review-book">对<span>《$!{momentsInfo.bookName}》</span>发表评论：</p>
                                        #end
                                        #if($!momentsInfo.momentsImg)
                                            <img src="${rc.contextPath}/upload/${momentsInfo.momentsImg}"></img>
                                        #end
                                        <p class="review-content">$!{momentsInfo.content}</p>
                                    </div>
                                    <div class="review-operation">
                                        #if($!momentsInfo.userId == $!currentUserId)
                                            <a class="delete-operation"
                                               href="javascript:deleteComment('$momentsInfo.momentsId');"><img
                                                    src="${rc.contextPath}/resources/images/hackthon/delete_comment_icon.png"></img>
                                                删除</a>
                                        #end
                                        <a class="like-operation" href="javascript:addLike('$momentsInfo.momentsId')">
                                            #if($!momentsInfo.isLike == '00')
                                                <img class="likeBtnImg$momentsInfo.momentId"
                                                     src="${rc.contextPath}/resources/images/hackthon/like_icon.png"></img>
                                            #else
                                                <img class="likeBtnImg$momentsInfo.momentsId"
                                                     src="${rc.contextPath}/resources/images/hackthon/like_yet_icon.png"></img>
                                            #end
                                        </a>
                                        <span class="like-span likeNum$momentsInfo.momentsId">$!{momentsInfo.likeNums}</span>
                                        <img class="reply-icon" onclick="showReplyDialog('$momentsInfo.momentsId','','')"
                                             src="${rc.contextPath}/resources/images/hackthon/reply_icon.png"></img>
                                    </div>
                                    <div class="review-reply">
                                        <ul>
                                            #foreach($momentsReply in $!{momentsInfo.momentsReplyList})
                                                #if($momentsReply.replyerName)
                                                    <li>
                                                        <p onclick="showReplyDialog('$momentsInfo.momentsId','$momentsReply.replyerId','$momentsReply.replyerName')">
                                                            <span>$!momentsReply.replyerName</span>
                                                            #if($momentsReply.parentReplyerName &&
                                                                "$momentsReply.parentReplyerName" != "")
                                                                回复<span>$!momentsReply.parentReplyerName</span>#end
                                                            : $!momentsReply.replyContent
                                                        </p>
                                                    </li>
                                                #end
                                            #end
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        #end
                    </ul>
                </div>
                <div id="refreshDiv"
                     style="z-index:1;color:#888;height:50px;line-height:50px;position:absolute;text-align:center;left:0;top:0;width:100%;font-size:14px;"></div>
                <p id="loadDiv"
                   style="z-index:1;position:fixed;bottom:0;width:100%;color:#888;font-size:14px;margin:0;height:50px;line-height:50px;text-align:center;"></p>
            #else
                <div class="no-item">
                    <img src="${rc.contextPath}/resources/images/hackthon/no_right.png"></img>

                    <p>大侠，暂时还没有评论哦！</p>
                </div>
            #end
        </div>
        <!--我的评论信息-->
        <div class="swiper-slide my-review-list swiper-no-swiping" id="myReviewList" style="overflow-y:auto;">
            #if($!{myMomentsList.size()}>0)
                <div style="position:relative;z-index:2;height:100%;">
                    <ul>
                        #foreach($momentsInfo in $!myMomentsList)
                            <li class="reviewItem${momentsInfo.momentsId}">
                                <div class="review-list-item">
                                    <div class="review-title">
                                        #if($!momentsInfo.userIcon)
                                            <img class="review-header" src="$!momentsInfo.userIcon"></img>
                                        #else
                                            <img class="review-header"
                                                 src="${rc.contextPath}/resources/images/hackthon/user_header_icon.png"></img>
                                        #end
                                        <p class="review-name">$!{momentsInfo.userName}</p>

                                        <p class="review-date">$!{momentsInfo.crtTs}</p>
                                    </div>
                                    <div class="review-body">
                                        #if($!momentsInfo.bookName)
                                            <p class="review-book">对<span>《$!{momentsInfo.bookName}》</span>发表评论：</p>
                                        #end
                                        #if($!momentsInfo.momentsImg)
                                            <img src="${rc.contextPath}/upload/${momentsInfo.momentsImg}"></img>
                                        #end
                                        <p class="review-content">$!{momentsInfo.content}</p>
                                    </div>
                                    <div class="review-operation">
                                        <a class="delete-operation"
                                           href="javascript:deleteComment('$momentsInfo.momentsId');"><img
                                                src="${rc.contextPath}/resources/images/hackthon/delete_comment_icon.png"></img>
                                            删除</a>
                                        <a class="like-operation" href="javascript:addLike('$momentsInfo.momentsId')">
                                            #if($!momentsInfo.isLike == '00')
                                                <img class="likeBtnImg$momentsInfo.momentsId"
                                                     src="${rc.contextPath}/resources/images/hackthon/like_icon.png"></img>
                                            #else
                                                <img class="likeBtnImg$momentsInfo.momentsId"
                                                     src="${rc.contextPath}/resources/images/hackthon/like_yet_icon.png"></img>
                                            #end
                                        </a>
                                        <span class="like-span likeNum$momentsInfo.momentsId">$!{momentsInfo.likeNums}</span>
                                        <img class="reply-icon" onclick="showReplyDialog('$momentsInfo.momentsId','','')"
                                             src="${rc.contextPath}/resources/images/hackthon/reply_icon.png"></img>
                                    </div>
                                    <div class="review-reply">
                                        <ul>
                                            #foreach($momentsReply in $!{momentsInfo.momentsReplyList})
                                                #if($momentsReply.replyerName)
                                                    <li>
                                                        <p onclick="showReplyDialog('$momentsInfo.momentsId','$momentsReply.replyerId','$momentsReply.replyerName')">
                                                            <span>$!momentsReply.replyerName</span>
                                                            #if($momentsReply.parentReplyerName &&
                                                                "$momentsReply.parentReplyerName" != "")
                                                                回复<span>$!momentsReply.parentReplyerName</span>#end
                                                            : $!momentsReply.replyContent
                                                        </p>
                                                    </li>
                                                #end
                                            #end
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        #end
                    </ul>
                </div>
            #else
                <div class="no-item">
                    <img src="${rc.contextPath}/resources/images/hackthon/no_right.png"></img>

                    <p>大侠，您暂时还没有动态哦！</p>
                </div>
            #end
        </div>
    </div>
</div>
<!-- 发表评论按钮 -->
<div class="comment-button">
    <button onclick="showCommentDialog()"></button>
</div>
<!-- 评论框 -->
<div class="comment-modal">
    <form id="commentForm" action="${rc.contextPath}/moments/add" method="post" enctype="multipart/form-data">
        <div class="form-group book-section">
            #if($!{reviewBookList.size()}>0)
                <select name="bookId" id="commentBookSel">
                    <option value="0">不指定图书</option>
                    #foreach($book in $reviewBookList)
                        <option value="$book.id">$book.bookName</option>
                    #end
                </select>
            #end
        </div>
        <div class="form-group">
            <textarea id="contentArea" name="content" placeholder="发表评论"></textarea>
        </div>
        <div class="form-group">
            <img id="commentImg" style="margin-left:5%;"
                 src="${rc.contextPath}/resources/images/hackthon/gray_add_icon.png"></img>
            <input type="text" style="display:none;" id="commentImgInput" name="commentsImg">
        </div>
        <button type="button" style="background-color:#449d44;" onclick="commentCheck()">发表</button>
        <button type="button" style="background-color:#f0ad4e;" onclick="hideCommentDialog()">返回</button>
    </form>
</div>
<!-- 回复框 -->
<div class="reply-modal">
    <form id="replyForm" action="${rc.contextPath}/moments/reply" method="post">
        <input type="hidden" name="momentsId" id="momentsId">
        <input type="hidden" name="pReplyerId" id="pReplyerId">
        <input type="hidden" name="pReplyerName" id="pReplyerName">

        <div class="form-group">
            <textarea id="replyContentArea" name="replyContent" placeholder="回复"></textarea>
        </div>
        <button type="button" style="background-color:#449d44;" onclick="replyCheck()">发表</button>
        <button type="button" style="background-color:#f0ad4e;" onclick="hideReplyDialog()">返回</button>
    </form>
</div>
<input type="hidden" id="hideUid" value="$!currentUserId">
<script src="${rc.contextPath}/resources/js/jquery.form.js?v=$!staticVersion"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
#if($!wxConfig)
<script type="text/javascript">
$(function () {
    if (window.wx) {
        var appId = "$!wxConfig.appId";
        var timestamp = "$!wxConfig.timestamp";
        var nonceStr = "$!wxConfig.nonceStr";
        var signature = "$!wxConfig.signature";

        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: appId, // 必填，公众号的唯一标识
            timestamp: timestamp, // 必填，生成签名的时间戳
            nonceStr: nonceStr, // 必填，生成签名的随机串
            signature: signature,// 必填，签名，见附录1
            jsApiList: ['chooseImage', 'uploadImage', 'downloadImage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
    }
});
</script>
#end
<script>
    var reviewSwiper;
    var refreshFlag = false, loadFlag = false, moreFlag = true;
    var reviewIScroll;
    $(document).ready(function () {
        $('.book-review-swiper').css('height', $(window).height() - 90);
        reviewSwiper = new Swiper('.book-review-swiper', {
            slidesPerView: 'auto',
            effect: 'flip',
            resistance: true,
            resistanceRatio: 0,
            noSwiping: true,
            onSlideNextStart: function (swiper) {
                if (swiper.activeIndex == 1) {
                    $("#workmateReviewA").removeAttr('class');
                    $("#myReviewA").attr('class', 'active-a');
                } else {
                    $("#workmateReviewA").attr('class', 'active-a');
                    $("#myReviewA").removeAttr('class');
                }
            },
            onSlidePrevStart: function (swiper) {
                if (swiper.activeIndex == 0) {
                    $("#workmateReviewA").attr('class', 'active-a');
                    $("#myReviewA").removeAttr('class');
                } else {
                    $("#workmateReviewA").removeAttr('class');
                    $("#myReviewA").attr('class', 'active-a');
                }
            }
        });
        $("#commentImg").click(function () {
            wx.chooseImage({
                count: 1, // 默认9
                sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function (res) {
                    var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片

                    wx.uploadImage({
                        localId: localIds.toString(), // 需要上传的图片的本地ID，由chooseImage接口获得
                        isShowProgressTips: 1, // 默认为1，显示进度提示
                        success: function (res) {
                            var mediaId = res.serverId; // 返回图片的服务器端ID，即mediaId
                            //将获取到的 mediaId 传入后台 方法savePicture
                            $.ajax({
                                type: 'POST',
                                url: "${rc.contextPath}/moments/savePicture",
                                data: {
                                    mediaId:mediaId
                                },
                                dataType: 'json',
                                success: function (data) {
                                    if (data.code == '0') {
                                        zzrw.alert("上传成功！");
                                        var dataURL = "${rc.contextPath}/upload/"+data.message;
                                        $("#commentImgInput").val(data.message);
                                        var $img = $("#commentImg");
                                        $img.css('width','100px');
                                        $img.attr('src', dataURL);
                                    } else {
                                        zzrw.alert(data.message);
                                    }
                                },
                                error: function () {
                                    zzrw.alert("服务器异常，请稍后再试！");
                                }
                            });
                        },
                        fail: function (res) {
                            zzrw.alert('上传图片失败，请重试')
                        }
                    });
                }
            });
        });
    });

    $(window).load(function () {
        reviewIScroll = new IScroll("#workmateScroll", {
            disableMouse: false,
            disablePointer: false,
            disableTouch: false,
            click: true,
            probeType: 2
        });

        reviewIScroll.on('scroll', reviewScroll);

        reviewIScroll.on('scrollEnd', reviewScrollEnd);

    });

    function reviewScroll() {
        if (this.y >= 50) {
            $("#refreshDiv").html("释放立即刷新");
            refreshFlag = true;
        } else {
            $("#refreshDiv").html("下拉刷新评论");
            refreshFlag = false;
        }

        if (reviewIScroll.maxScrollY - this.y <= 60 && moreFlag) {
            $("#loadDiv").html("上拉加载更多");
            loadFlag = false;
        } else if (moreFlag) {
            $("#loadDiv").html("释放立即加载");
            loadFlag = true;
        }
    }

    function reviewScrollEnd() {
        if (refreshFlag) {
            console.log("开始刷新");
            refreshComment();
        } else if (loadFlag && moreFlag) {
            console.log("开始加载");
            loadMoreComment();
        }
    }

    function tabClick(i) {
        reviewSwiper.slideTo(i);
    }

    function showCommentDialog() {
        $("#commentBookSel").val("0");
        $("#contentArea").val('');
        $("#commentImgInput").val('');
        $("#commentImg").attr('src', '${rc.contextPath}/resources/images/hackthon/gray_add_icon.png');
        $("#commentImg").css('width', '36px');
        $(".comment-modal").css("display", "block");
        $(".comment-modal").css("height", $(window).height() - 50);
    }

    function showReplyDialog(id, pid,pname) {
        $("#momentsId").val(id);
        $("#pReplyerId").val(pid);
        $("#pReplyName").val(pname);
        $(".reply-modal textarea").attr("placeholder", "回复" + pname);
        $(".reply-modal textarea").val('');
        $(".reply-modal").css("display", "block");
        $(".reply-modal").css("height", $(window).height() - 50);
    }

    function hideCommentDialog() {
        $(".comment-modal").css("display", "none");
    }

    function hideReplyDialog() {
        $(".reply-modal").css("display", "none");
    }

    function addLike(momentsId) {
        showLoading();
        $.ajax({
            url: "${rc.contextPath}/review/addLike",
            data: {
                momentsId: momentsId
            },
            dataType: 'json',
            type: 'post',
            success: function (data) {
                removeLoading();
                if (data.code == 'fail') {
                    zzrw.alert("操作失败!");
                } else {
                    var likeNumsId = "likeNum" + momentsId;
                    var likeBtnImgId = "likeBtnImg" + momentsId;

                    var likeNums = $("." + likeNumsId).html();
                    var countNum = parseInt(likeNums);
                    if (data.code == 'success_up') {
                        countNum++;
                        $("." + likeBtnImgId).attr("src", "${rc.contextPath}/resources/images/hackthon/like_icon.png");
                        zzrw.alert("点赞成功!");
                    } else if (data.code == 'success_down') {
                        countNum--;
                        $("." + likeBtnImgId).attr("src", "${rc.contextPath}/resources/images/hackthon/like_yet_icon.png");
                        zzrw.alert("已取消赞!");
                    } else {
                        zzrw.alert("操作失败!");
                    }
                    $("." + likeNumsId).text(countNum);
                }
            },
            error: function () {
                removeLoading();
                zzrw.alert("服务器异常，请稍后再试！");
            }
        });
    }

    function deleteComment(id) {
        showLoading();
        $.ajax({
            url: "${rc.contextPath}/moments/delete",
            data: {
                momentsId: id
            },
            dataType: 'json',
            type:'post',
            success: function (data) {
                removeLoading();
                //删除成功后，页面上去掉该条评论
                $(".reviewItem" + id).remove();
                reviewIScroll.refresh();
            },
            error: function () {
                removeLoading();
            }
        });
    }

    function commentCheck() {
        var content = $.trim($("#contentArea").val());
        if ("" == content) {
            zzrw.alert("评论内容不能为空哦!");
            $("#contentArea").focus();
        } else {
            showLoading();
            $("#commentForm").ajaxSubmit({
                url: "${rc.contextPath}/moments/add",
                dataType: "json",
                type: 'POST',
                success: function (data) {
                    removeLoading();
                    if (data.code == "0") {
                        var momentsInfo = data.data;
                        var reviewItem = $('.workmate-review-list .review-item-li').eq(0).clone();
                        reviewItem.removeAttr('class');
                        var classStr = "review-item-li reviewItem" + momentsInfo.momentsId;
                        reviewItem.attr('class', classStr);
                        if (momentsInfo.userIcon == null || momentsInfo.userIcon == undefined || momentsInfo.userIcon == '') {
                            reviewItem.find('.review-header').attr('src', '${rc.contextPath}/resources/images/hackthon/user_header_icon.png');
                        } else {
                            reviewItem.find('.review-header').attr('src', momentsInfo.userIcon);
                        }
                        reviewItem.find('.review-name').html(momentsInfo.userName);
                        reviewItem.find('.review-date').html(momentsInfo.crtTs);
                        reviewItem.find('.review-body').empty();
                        if ($("#commentBookSel").val() != "0") {
                            var bookHtml = "<p class='review-book'>对<span>《" + $("#commentBookSel").find("option:selected").text() + "》</span>发表评论：</p>";
                            reviewItem.find('.review-body').append(bookHtml);
                        }
                        if (momentsInfo.momentsImg != null && momentsInfo.momentsImg != undefined && momentsInfo.momentsImg != '') {
                            var commentImgHtml = "<img src='${rc.contextPath}/upload/" + momentsInfo.momentsImg + "'></img>";
                            reviewItem.find('.review-body').append(commentImgHtml);
                        }
                        var commentBodyHtml = "<p class='review-content'>" + momentsInfo.content + "</p>";
                        reviewItem.find('.review-body').append(commentBodyHtml);
                        var uid = $("#hideUid").val();
                        reviewItem.find('.delete-operation').remove();
                        if (uid == momentsInfo.userId) {
                            var deleteHtml = "<a class='delete-operation' href='javascript:deleteComment(\"" + momentsInfo.momentsId + "\");'><img src='${rc.contextPath}/resources/images/hackthon/delete_comment_icon.png'></img> 删除</a>";
                            reviewItem.find('.review-operation').prepend(deleteHtml);
                        }
                        reviewItem.find('.like-operation').attr('href', "javascript:addLike('" + momentsInfo.momentsId + "')");
                        reviewItem.find('.like-operation').empty();
                        var likeHtml = "<img class='likeBtnImg" + momentsInfo.momentsId + "' src='${rc.contextPath}/resources/images/hackthon/like_yet_icon.png'></img>";
                        reviewItem.find('.like-operation').append(likeHtml);
                        reviewItem.find('.like-span').attr('class', 'like-span likeNum' + momentsInfo.momentsId);
                        reviewItem.find('.like-span').html(momentsInfo.likeNums);
                        reviewItem.find('.reply-icon').attr('onclick', "showReplyDialog('" + momentsInfo.momentsId + "','','')");
                        reviewItem.find('.review-reply ul').empty();

                        $('.workmate-review-list ul').eq(0).prepend(reviewItem);
                        if ($("#myReviewList").find("ul").length == 0) {
                            $(".no-item").remove();
                            $('#myReviewList').append('<div style="position:relative;z-index:2;height:100%;"><ul></ul></div>');
                        }

                        $('#myReviewList').find('ul').eq(0).prepend(reviewItem.clone());
                        reviewIScroll.refresh();
                        reviewIScroll.scrollTo(0, 0, 100);
                        hideCommentDialog();
                    } else {
                        zzrw.alert(data.message);
                    }
                },
                error: function () {
                    zzrw.alert("系统繁忙，请稍后再试");
                }
            });
        }
    }

    function replyCheck() {
        var replyContent = $.trim($("#replyContentArea").val());
        if ("" == replyContent) {
            zzrw.alert("回复内容不能为空哦!");
            $("#replyContentArea").focus();
        } else {
            showLoading();
            $("#replyForm").ajaxSubmit({
                url: "${rc.contextPath}/moments/reply",
                dataType: "json",
                type: 'POST',
                success: function (data) {
                    removeLoading();
                    if (data.code == "0") {
                        var replyItem = data.data;
                        var replyHtml = "<li>";
                        replyHtml = replyHtml + "<p onclick='showReplyDialog(\"" + replyItem.momentsId + "\",\"" + replyItem.replyerId + "\",\"" + replyItem.replyerName + "\")'>";
                        replyHtml = replyHtml + "<span>" + replyItem.replyerName + "</span> ";
                        if (replyItem.parentReplyerName != '' && replyItem.parentReplyerName != undefined && replyItem.parentReplyerName != null) {
                            replyHtml = replyHtml + "回复<span>" + replyItem.parentReplyerName + "</span>";
                        }
                        replyHtml = replyHtml + ": " + replyItem.replyContent + "</p></li>";
                        $(".reviewItem" + replyItem.momentsId + " .review-reply").find("ul").append(replyHtml);
                        hideReplyDialog();
                        reviewIScroll.refresh();
                    } else {
                        zzrw.alert(data.message);
                    }
                },
                error: function () {
                    zzrw.alert("系统繁忙，请稍后再试");
                }
            });
        }
    }

    function loadMoreComment() {
        showPersistLoading();
        var startId = $('.workmate-review-list .review-item-li').length + 1;
        $.ajax({
            url: '${rc.contextPath}/moments/addMoreReview',
            data: {
                start: startId
            },
            dataType: 'json',
            type: 'post',
            success: function (data) {
                if (data.code != '0') {
                    removeLoading();
                    zzrw.alert(data.message);
                    return;
                }
                for (var i = 0; i < data.data.length; i++) {
                    var momentsInfo = data.data[i];
                    var reviewItem = $('.workmate-review-list .review-item-li').eq(0).clone();
                    reviewItem.removeAttr('class');
                    var classStr = "review-item-li reviewItem" + momentsInfo.momentsId;
                    reviewItem.attr('class', classStr);
                    if (momentsInfo.userIcon == null || momentsInfo.userIcon == undefined || momentsInfo.userIcon == '') {
                        reviewItem.find('.review-header').attr('src', '${rc.contextPath}/resources/images/hackthon/user_header_icon.png');
                    } else {
                        reviewItem.find('.review-header').attr('src', momentsInfo.userIcon);
                    }
                    reviewItem.find('.review-name').html(momentsInfo.userName);
                    reviewItem.find('.review-date').html(convertTimeToDate(momentsInfo.crtTs));
                    reviewItem.find('.review-body').empty();
                    if (momentsInfo.bookName != null && momentsInfo.bookName != undefined && momentsInfo.bookName != '') {
                        var bookHtml = "<p class='review-book'>对<span>《" + momentsInfo.bookName + "》</span>发表评论：</p>";
                        reviewItem.find('.review-body').append(bookHtml);
                    }
                    if (momentsInfo.momentsImg != null && momentsInfo.momentsImg != undefined && momentsInfo.momentsImg != '') {
                        var commentImgHtml = "<img src='${rc.contextPath}/upload/" + momentsInfo.momentsImg + "'></img>";
                        reviewItem.find('.review-body').append(commentImgHtml);
                    }
                    var commentBodyHtml = "<p class='review-content'>" + momentsInfo.content + "</p>";
                    reviewItem.find('.review-body').append(commentBodyHtml);
                    var uid = $("#hideUid").val();
                    reviewItem.find('.delete-operation').remove();
                    if (uid == momentsInfo.reviewerId) {
                        var deleteHtml = "<a class='delete-operation' href='javascript:deleteComment(\"" + momentsInfo.momentsId + "\");'><img src='${rc.contextPath}/resources/images/hackthon/delete_comment_icon.png'></img> 删除</a>";
                        reviewItem.find('.review-operation').prepend(deleteHtml);
                    }
                    reviewItem.find('.like-operation').attr('href', "javascript:addLike('" + momentsInfo.momentsId + "')");
                    reviewItem.find('.like-operation').empty();
                    if (momentsInfo.isLike == '00') {
                        var likeHtml = "<img class='likeBtnImg" + momentsInfo.momentsId + "' src='${rc.contextPath}/resources/images/hackthon/like_icon.png'></img>";
                        reviewItem.find('.like-operation').append(likeHtml);
                    } else {
                        var likeHtml = "<img class='likeBtnImg" + momentsInfo.momentsId + "' src='${rc.contextPath}/resources/images/hackthon/like_yet_icon.png'></img>";
                        reviewItem.find('.like-operation').append(likeHtml);
                    }
                    reviewItem.find('.like-span').attr('class', 'like-span like-span likeNum' + momentsInfo.momentsId);
                    reviewItem.find('.like-span').html(momentsInfo.likeNums);
                    reviewItem.find('.reply-icon').attr('onclick', "showReplyDialog('" + momentsInfo.momentsId + "','','')");

                    reviewItem.find('.review-reply').empty();
                    var replyHtml = "<ul>";
                    var replyList = momentsInfo.momentsReplyList;
                    for (var j = 0; j < replyList.length; j++) {
                        var replyItem = replyList[j];
                        if (replyItem.replyerName != null && replyItem.replyerName != undefined && replyItem.replyerName != '') {
                            replyHtml += "<li>";
                            replyHtml = replyHtml + "<p onclick='showReplyDialog(\"" + momentsInfo.momentsId + "\",\"" + replyItem.replyerId + "\",\"" + replyItem.replyerName + "\")'";
                            replyHtml = replyHtml + "<span>" + replyItem.replyerName + "</span>";
                            if (replyItem.parentReplyName != null && replyItem.parentReplyName != undefined && replyItem.parentReplyName != '') {
                                replyHtml = replyHtml + " 回复<span>" + replyItem.parentReplyName + "</span>";
                            }
                            replyHtml = replyHtml + ": " + replyItem.replyContent + "</p>";
                            replyHtml += "</li>";
                        }
                    }
                    replyHtml += "</ul>";
                    reviewItem.find('.review-reply').append(replyHtml);
                    $('.workmate-review-list ul').eq(0).append(reviewItem);
                }
                if (data.data.length < 10) {
                    var lastItem = '<li class="review-item-li last-item">已无更多</li>';
                    $('.workmate-review-list ul').eq(0).append(lastItem);
                    $("#loadDiv").remove();
                    moreFlag = false;
                }
                reviewIScroll.refresh();
                removeLoading();
            },
            error: function () {
                removeLoading();
            }
        });
    }

    function refreshComment() {
        showPersistLoading();
        $.ajax({
            url: '${rc.contextPath}/moments/refreshReview',
            dataType: 'json',
            type: 'post',
            success: function (data) {
                if (data.code != '0') {
                    removeLoading();
                    zzrw.alert(data.message);
                    return;
                }
                for (var i = 0; i < data.data.length; i++) {
                    var momentsInfo = data.data[i];
                    var reviewItem = $('.workmate-review-list .review-item-li').eq(0).clone();
                    if (i == 0) {
                        $('.workmate-review-list ul').eq(0).empty();
                    }
                    reviewItem.removeAttr('class');
                    var classStr = "review-item-li reviewItem" + momentsInfo.momentsId;
                    reviewItem.attr('class', classStr);
                    if (momentsInfo.reviewerIcon == null || momentsInfo.reviewerIcon == undefined || momentsInfo.reviewerIcon == '') {
                        reviewItem.find('.review-header').attr('src', '${rc.contextPath}/resources/images/hackthon/user_header_icon.png');
                    } else {
                        reviewItem.find('.review-header').attr('src', momentsInfo.reviewerIcon);
                    }
                    reviewItem.find('.review-name').html(momentsInfo.userName);
                    reviewItem.find('.review-date').html(convertTimeToDate(momentsInfo.crtTs));
                    reviewItem.find('.review-body').empty();
                    if (momentsInfo.bookName != null && momentsInfo.bookName != undefined && momentsInfo.bookName != '') {
                        var bookHtml = "<p class='review-book'>对<span>《" + momentsInfo.bookName + "》</span>发表评论：</p>";
                        reviewItem.find('.review-body').append(bookHtml);
                    }
                    if (momentsInfo.momentsImg != null && momentsInfo.momentsImg != undefined && momentsInfo.momentsImg != '') {
                        var momentsImgHtml = "<img src='${rc.contextPath}/upload/" + momentsInfo.momentsImg + "'></img>";
                        reviewItem.find('.review-body').append(momentsImgHtml);
                    }
                    var commentBodyHtml = "<p class='review-content'>" + momentsInfo.content + "</p>";
                    reviewItem.find('.review-body').append(commentBodyHtml);
                    var uid = $("#hideUid").val();
                    reviewItem.find('.delete-operation').remove();
                    if (uid == momentsInfo.reviewerId) {
                        var deleteHtml = "<a class='delete-operation' href='javascript:deleteComment(\"" + momentsInfo.momentsId + "\");'><img src='${rc.contextPath}/resources/images/hackthon/delete_comment_icon.png'></img> 删除</a>";
                        reviewItem.find('.review-operation').prepend(deleteHtml);
                    }
                    reviewItem.find('.like-operation').attr('href', "javascript:addLike('" + momentsInfo.momentsId + "')");
                    reviewItem.find('.like-operation').empty();
                    if (momentsInfo.isLike == '00') {
                        var likeHtml = "<img class='likeBtnImg" + momentsInfo.momentsId + "' src='${rc.contextPath}/resources/images/hackthon/like_icon.png'></img>";
                        reviewItem.find('.like-operation').append(likeHtml);
                    } else {
                        var likeHtml = "<img class='likeBtnImg" + momentsInfo.momentsId + "' src='${rc.contextPath}/resources/images/hackthon/like_yet_icon.png'></img>";
                        reviewItem.find('.like-operation').append(likeHtml);
                    }
                    reviewItem.find('.like-span').attr('class', 'like-span like-span likeNum' + momentsInfo.momentsId);
                    reviewItem.find('.like-span').html(momentsInfo.likeNums);
                    reviewItem.find('.reply-icon').attr('onclick', "showReplyDialog('" + momentsInfo.momentsId + "','','')");

                    reviewItem.find('.review-reply').empty();
                    var replyHtml = "<ul>";
                    var replyList = momentsInfo.momentsReplyList;
                    for (var j = 0; j < replyList.length; j++) {
                        var replyItem = replyList[j];
                        if (replyItem.replyerName != null && replyItem.replyerName != undefined && replyItem.replyerName != '') {
                            replyHtml += "<li>";
                            replyHtml = replyHtml + "<p onclick='showReplyDialog(\"" + momentsInfo.momentsId + "\",\"" + replyItem.replyerId + "\",\"" + replyItem.replyerName + "\")'";
                            replyHtml = replyHtml + "<span>" + replyItem.replyerName + "</span>";
                            if (replyItem.parentReplyerName != null && replyItem.parentReplyerName != undefined && replyItem.parentReplyerName != '') {
                                replyHtml = replyHtml + " 回复<span>" + replyItem.parentReplyerName + "</span>";
                            }
                            replyHtml = replyHtml + ": " + replyItem.replyContent + "</p>";
                            replyHtml += "</li>";
                        }
                    }
                    replyHtml += "</ul>";
                    reviewItem.find('.review-reply').append(replyHtml);
                    $('.workmate-review-list ul').eq(0).append(reviewItem);
                }
                reviewIScroll.refresh();
                removeLoading();
                moreFlag = true;
            },
            error: function () {
                removeLoading();
            }
        });
    }
</script>